div#main-grid .column > div:first-child {
	position: absolute;
	z-index: 2;
}

div #main-grid .column:not(:first-child) > div:first-child {
	left: -1.2em;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

#main-grid {
	min-height: 400px
}

div#main-grid div.column {
	padding: 0px;
}

.event-class.ui.center.aligned.vertical.padded.segment {
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	min-height: 19px;
}


.event-class.ui.vertical.padded.segment:hover {
	z-index: 1;
}

.event-buttons {
	position: relative;
	padding-bottom: 6px;
}

.event-class .ui.header {
	margin: 0;
}

