#anav {
	color:black;
}
.nav_class:hover, #anav:hover {
	color:lightgrey;
}
#navbar {
	padding-bottom: 0%;
}
#bartar {
	margin-left: 10%;
	margin-top: .50%;
	margin-right: .50%;
	margin-bottom: 0%;
	padding:0%;
}
#bartitle {
	margin-top: 1%;
	margin-left: 2%;
}
#navButton {
	margin-top: 2%;
	margin-left: 5%;
}
#flashm {

}
#modalButton {
	margin-right: 45%;
}
#wiklyLogo {
	width: 200%;
	height: 200%;
}